body {
    font-family: Arial;
    background: #f0f0f0;
}

h2 {
    text-align: center;
    color: #4CAF50;
}

.form-container {
    width: 60%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

table {
    width: 100%;
}

td, th {
    padding: 10px;
    font-size: 16px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
}
.btn {
    padding: 10px 20px;
    background: #4CAF50;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
